<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>SolarBoat</title>
    <meta name="cmsmagazine" content="5a7189a28fb3dc68238dbdb44c9ea99c" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link rel="icon" type="image/png" sizes="16x16" href="">
    <!-- <link rel="stylesheet" href="../css/fontello.css"> -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <!-- <link rel="stylesheet" href="../css/slick.css"> -->
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/index.css">
</head>

<body>

    <main>
        <div class="container">
            <div class="all-head">
                <a href="index.html" class="logo">
                    <img src="../img/logo.png" alt="">
                    <h5>
                        <span>HELIO FLEET</span>
                        SOLAR BOAT SCHOOL
                    </h5>
                </a>
                <a href="buklet.pdf" class="blue-button desc-but" target="_blank">
                    <span>Brochure</span>
                </a>
                <nav>
                    <ul>
                        <li><img src="../img/geo.png" alt=""></li>
                        <li>Finland</li>
                        <li>Latvia</li>
                        <li>Russia</li>
                        <li>Germany</li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="container">
            <h2><span>DIY ELECTRIC</span> SOLAR BOAT</h2>
        </div>
        <div class="big">
            <img src="../img/board.png" alt="">
            <a href="mailto:'challenge@heliofleet.com'" class="email">
                <img src="../img/mail.png" alt="">
                <span>challenge@heliofleet.com</span>
            </a>
        </div>
    </main>



    <div class="background-dark">

    </div>

    <script src="../js/jquery.min.js"></script>
    <!-- <script defer src="../js/slick.min.js"> </script> -->
    <script src="../js/script.min.js"></script>
    <script src="../js/main.min.js"></script>
</body>

</html>